[Unit]
Description=Spotifyd Spotify Connect
After=network-online.target sound.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=frodo
ExecStart=/usr/local/bin/spotifyd --no-daemon

[Install]
WantedBy=multi-user.target